openapi: 3.0.4
info:
  title: MIME Type Lookup
  description: >-
    MIME Type Lookup is a tool for looking up MIME types by file extension or
    finding file extensions by MIME type. It covers all common file types
    including documents, images, video, audio, and archives.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/mimetypelookup:
    get:
      summary: Lookup by Extension
      description: Look up MIME type by file extension
      operationId: mimetypelookup
      parameters:
        - name: extension
          in: query
          schema:
            type: string
          required: true
          description: File extension to lookup (without the leading dot)
          example: pdf
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  extension: pdf
                  mime_type: application/pdf
                  category: document
                  description: PDF document
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
